<!DOCTYPE html>
<html>

<head>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous">
   var timeElapsed = 0;
    var timerID = -1;
    function tick() {
      timeElapsed++
      document.getElementById("time").innerHTML = timeElapsed;
      }

    function start() {
      if(timerID == -1){
        timerID = setInterval(tick, 1000);
        }
    }
    function stop() {
       if(timerID != -1){
       clearInterval(timerID)
       timerID = -1
      }
     }
     function reset() {
       stop();
       timeElapsed = -1;
       tick()
     }

  </script>
  <style>
  button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    position: absolute;
    font-size: 20px;
  }
  img{
    cursor: pointer;
    border-radius: 25px
  }

  #rcorners1 {
    margin: auto;
    border-radius: 25px;
    background: rgb(217, 50, 50);
    padding: 20px; 
    width: 650px;
  }
  #rcorners2 {
    border-radius: 15px;
    background: white;
    padding: 10px; 
    width: auto;
  }
  #rcorners3 {
    border-radius: 25px;
    background: rgb(217, 50, 50);
    padding: 20px; 
    width: auto;
    font-size: 20px;
    font-weight: bold;
  }
  p{
    font-size: 20px;
    font-weight: bold;
    float: left;
    display:inline;
    word-wrap: break-word;
  }
  #ps{
    font-size: 20px;
    font-weight: bold;
    float: right;
    border-radius: 15px;
    background: white;
    padding: 10px; 
    width: auto;
  }

  :root{
    --correct: 0;
  }

  </style>
  <script>

    function click1() {
      if (typeof (Storage) !== "undefined") {
        if (localStorage.clickcount) {
          localStorage.clickcount = Number(localStorage.clickcount) + 1;
        } else {
          localStorage.clickcount = 1;
        }
        document.getElementById("result1").innerHTML = "You made " + localStorage.clickcount + " failed attempts";
      } else {
        document.getElementById("result1").innerHTML = "your browser does not support web storage";
      }
    }
    function click2() {
      if (typeof (Storage) !== "undefined") {
        if (localStorage.clickcount2) {
          localStorage.clickcount2 = Number(localStorage.clickcount2) + 1;
        } else {
          localStorage.clickcount2 = 1;
        }
        document.getElementById("result2").innerHTML = "You made " + localStorage.clickcount2 + " failed attempts";
      } else {
        document.getElementById("result2").innerHTML = "your browser does not support web storage";
      }
    }
      function click3() {
      if (typeof (Storage) !== "undefined") {
        if (localStorage.clickcount3) {
          localStorage.clickcount3 = Number(localStorage.clickcount3) + 1;
        } else {
          localStorage.clickcount3 = 1;
        }
        document.getElementById("result3").innerHTML = "You made " + localStorage.clickcount3 + " failed attempts";
      } else {
        document.getElementById("result3").innerHTML = "your browser does not support web storage";
      }
    }

          function click4() {
      if (typeof (Storage) !== "undefined") {
        if (localStorage.clickcount4) {
          localStorage.clickcount4 = Number(localStorage.clickcount4) + 1;
        } else {
          localStorage.clickcount4 = 1;
        }
        document.getElementById("result4").innerHTML = "You made " + localStorage.clickcount4 + " failed attempts";
      } else {
        document.getElementById("result4").innerHTML = "your browser does not support web storage";
      }
    }

     function click5() {
      if (typeof (Storage) !== "undefined") {
        if (localStorage.clickcount5) {
          localStorage.clickcount5 = Number(localStorage.clickcount5) + 1;
        } else {
          localStorage.clickcount5 = 1;
        }
        document.getElementById("result5").innerHTML = "You made " + localStorage.clickcount5 + " failed attempts";
      } else {
        document.getElementById("result5").innerHTML = "your browser does not support web storage";
      }
    }
       function click6() {
      if (typeof (Storage) !== "undefined") {
        if (localStorage.clickcount6) {
          localStorage.clickcount6 = Number(localStorage.clickcount6) + 1;
        } else {
          localStorage.clickcount6 = 1;
        }
        document.getElementById("result6").innerHTML = "You made " + localStorage.clickcount6 + " failed attempts";
      } else {
        document.getElementById("result6").innerHTML = "your browser does not support web storage";
      }
    }

      function click7() {
      if (typeof (Storage) !== "undefined") {
        if (localStorage.clickcount7) {
          localStorage.clickcount7 = Number(localStorage.clickcount7) + 1;
        } else {
          localStorage.clickcount7 = 1;
        }
        document.getElementById("result7").innerHTML = "You made " + localStorage.clickcount7 + " failed attempts";
      } else {
        document.getElementById("result7").innerHTML = "your browser does not support web storage";
      }
    }

          function click8() {
      if (typeof (Storage) !== "undefined") {
        if (localStorage.clickcount8) {
          localStorage.clickcount8 = Number(localStorage.clickcount8) + 1;
        } else {
          localStorage.clickcount8 = 1;
        }
        document.getElementById("result8").innerHTML = "You made " + localStorage.clickcount8 + " failed attempts";
      } else {
        document.getElementById("result8").innerHTML = "your browser does not support web storage";
      }
    }

     function click9() {
      if (typeof (Storage) !== "undefined") {
        if (localStorage.clickcount9) {
          localStorage.clickcount9 = Number(localStorage.clickcount9) + 1;
        } else {
          localStorage.clickcount9 = 1;
        }
        document.getElementById("result9").innerHTML = "You made " + localStorage.clickcount9 + " failed attempts";
      } else {
        document.getElementById("result9").innerHTML = "your browser does not support web storage";
      }
    }
       function click10() {
      if (typeof (Storage) !== "undefined") {
        if (localStorage.clickcount10) {
          localStorage.clickcount10 = Number(localStorage.clickcount10) + 1;
        } else {
          localStorage.clickcount10 = 1;
        }
        document.getElementById("result10").innerHTML = "You made " + localStorage.clickcount10 + " failed attempts";
      } else {
        document.getElementById("result10").innerHTML = "your browser does not support web storage";
      }
    }
  </script>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">waldOS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/man">Manual</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/auto">Automatic</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  
    <h1>Manual mode</h1>
    <h2>Find waldo yourself!</h2>

    <div  id="rcorners1" style="position: static; left: 10px; top: 40px;"> 
      <p float="right" id="rcorners2">level: 1</p> <div id="result2" style="float:right; border-radius: 15px; background: white; padding: 10px; width: auto; font-size: 20px; font-weight: bold;"></div>
      <img src="static\waldo3.jfif" width="600" height="100%" onclick="click2();" />
      <button type="button" 
      style="position: relative; right: -280px; top: -152px;" 
      onclick="alert('You found waldo!')"> . </button>
  </div>
  <br>
    <div  id="rcorners1" style="position: static; left: 10px; top: 40px;"> 
      <p float="right" id="rcorners2">level: 2</p> <div id="result3" style="float:right; border-radius: 15px; background: white; padding: 10px; width: auto; font-size: 20px; font-weight: bold;"></div>
    <img src="static\waldo4.jpg" width="600" height="100%" onclick="click3();" />
    <button type="button" 
    style="position: relative;  right: -525px; top: -258px;" 
    onclick="alert('You found waldo!')"> . </button>
  </div>
  <br>
  <div  id="rcorners1" style="position: static; left: 10px; top: 40px;"> 
      <p float="right" id="rcorners2">level: 3</p> <div id="result1" style="float:right; border-radius: 15px; background: white; padding: 10px; width: auto; font-size: 20px; font-weight: bold;"></div>
    <img src="static\waldo2.png" width="600" height="100%" onclick="click1();" />
    <button type="button" 
    style="position: relative;  right: -100px; top: -370px;" 
    onclick="alert('You found waldo!')"> . </button>
  </div>
    <br>
  <div  id="rcorners1" style="position: static; left: 10px; top: 40px;"> 
      <p float="right" id="rcorners2">level: 4</p> <div id="result4" style="float:right; border-radius: 15px; background: white; padding: 10px; width: auto; font-size: 20px; font-weight: bold;"></div>
    <img src="static\waldo5.jpg" width="600" height="100%" onclick="click4();" />
    <button type="button" 
    style="position: relative;  right: -166px; top: -80px;" 
    onclick="alert('You found waldo!')"> . </button>
  </div>
    <br>
  <div  id="rcorners1" style="position: static; left: 10px; top: 40px;"> 
      <p float="right" id="rcorners2">level: 5</p> <div id="result5" style="float:right; border-radius: 15px; background: white; padding: 10px; width: auto; font-size: 20px; font-weight: bold;"></div>
    <img src="static\waldo6.jpg" width="600" height="100%" onclick="click5();" />
    <button type="button" 
    style="position: relative;  right: -135px; top: -400px;" 
    onclick="alert('You found waldo!')"> . </button>
  </div>
    <br>
  <div  id="rcorners1" style="position: static; left: 10px; top: 40px;"> 
      <p float="right" id="rcorners2">level: 6</p> <div id="result6" style="float:right; border-radius: 15px; background: white; padding: 10px; width: auto; font-size: 20px; font-weight: bold;"></div>
    <img src="static\waldo7.jpg" width="600" height="100%" onclick="click6();" />
    <button type="button" 
    style="position: relative;  right: -335px; top: -280px;" 
    onclick="alert('You found waldo!')"> . </button>
  </div>
    <br>
  <div  id="rcorners1" style="position: static; left: 10px; top: 40px;"> 
      <p float="right" id="rcorners2">level: 7</p> <div id="result7" style="float:right; border-radius: 15px; background: white; padding: 10px; width: auto; font-size: 20px; font-weight: bold;"></div>
    <img src="static\waldo8.jpg" width="600" height="100%" onclick="click7();" />
    <button type="button" 
    style="position: relative;  right: -500px; top: -200px;" 
    onclick="alert('You found waldo!')"> . </button>
  </div>
    <br>
  <div  id="rcorners1" style="position: static; left: 10px; top: 40px;"> 
      <p float="right" id="rcorners2">level: 8</p> <div id="result8" style="float:right; border-radius: 15px; background: white; padding: 10px; width: auto; font-size: 20px; font-weight: bold;"></div>
    <img src="static\waldo9.jpg" width="600" height="100%" onclick="click8();" />
    <button type="button" 
    style="position: relative;  right: -440px; top: -240px;" 
    onclick="alert('You found waldo!')"> . </button>
  </div>
    <br>
  <div  id="rcorners1" style="position: static; left: 10px; top: 40px;"> 
      <p float="right" id="rcorners2">level: 9</p> <div id="result9" style="float:right; border-radius: 15px; background: white; padding: 10px; width: auto; font-size: 20px; font-weight: bold;"></div>
    <img src="static\waldo10.jpg" width="600" height="100%" onclick="click9();" />
    <button type="button" 
    style="position: relative;  right: -388px; top: -160px;" 
    onclick="alert('You found waldo!')"> . </button>
  </div>
    <br>
  <div  id="rcorners1" style="position: static; left: 10px; top: 40px;"> 
      <p float="right" id="rcorners2">level: 10</p> <div id="result10" style="float:right; border-radius: 15px; background: white; padding: 10px; width: auto; font-size: 20px; font-weight: bold;"></div>
    <img src="static\waldo11.jpg" width="600" height="100%" onclick="click10();" />
    <button type="button" 
    style="position: relative;  right: -135px; top: -120px;" 
    onclick="alert('You found waldo!')"> . </button>
  </div>
<div style="position: sticky; left:0%; top:0%;">
  <div>Seconds: <span id="time">0</span></div>
  <input type="button" id="startTimer" value="Start Timer" onclick="start();"><br/>
  <input type="button" id="stopTimer" value="Stop Timer"  onclick="stop();"><br/>
  <input type="button" id="resetTimer" value="Reset Timer"  onclick="reset();"><br/>

</div>

<div id= "rcorners3" style="position: fixed; right:0%; top:20%;">
  <div id="rcorners2">Seconds: <span id="time">0</span></div>
  <input type="button" id="startTimer" value="Start Timer" onclick="start();"><br/>
  <input type="button" id="stopTimer" value="Stop Timer"  onclick="stop();"><br/>
  <input type="button" id="resetTimer" value="Reset Timer"  onclick="reset();"><br/>

</div>

</body>

</html>