.container {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.intro {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 45px;
}

h5 {
  margin-top: 20px;
}

#logo {
  display: flex;
  width: 35%;
}

.inline-link {
  color: red;
}

.inline-link:hover {
  background-color: red;
  color: white;
}